:root {
  --body-color: #292929;
  /* общий фон */

  --title-color: #ffffff;
  /* цвет заголовков */
  --subtitle-color: #B4BBC5;
  /* цвет подзаголовков */

  --nav-link-color: #ffffff;
  /* цвет ссылок в навигации */

  --accent-color: #BB86FC;
  /* основной цвет тем */

  --bg-hover: rgba(255, 255, 255, 0.12);
  /*цвет текста label+placeholder*/

  --label-color: rgba(255, 255, 255, 0.38);
  /*цвет аватара*/
  --avatar-bg: #979797;
  /*dropdown-button*/
  --dropdown-button-bg: #292929;
  --dropdown-border-color: rgba(255, 255, 255, 0.3);
  --dropdown-box-shadow: 0 8px 10px rgba(0, 0, 0, 0.14), 0 3px 14px rgba(0, 0, 0, 0.12), 0 5px 5px rgba(0, 0, 0, 0.2);

  /*footer*/
  --footer-bg:#292929;
  --footer-link-color:#fff;
}


/* logo */
.header-logo svg {
  --logo-fill: #ffffff;
}

/* btn-primary */
.btn-primary {
  --button-bg-color: #BB86FC;
  --button-content-color: #000000;
}

/* btn-dark */
.btn-dark {
  --button-bg-color: #fff;
  --button-content-color: #222222;
}

/* forms */
input[type='text'],
input[type='email'],
input[type='password'],
input[type='tel'],
textarea {
  --input-bg-color: transparent;
  --input-border-color: rgba(255, 255, 255, 0.6);
  --input-text-color: rgba(255, 255, 255, 0.87);
}

input:not([type="checkbox"]):focus,
textarea:focus {
  --box-shadow: inset 0 0 0 2px #BB86FC;
}

.checkbox {
  --checkbox-bg-color-checked: #BB86FC;
  --checkbox-mark-color: #222222;
  --checkbox-bg-color-default: #222222;
  --checkbox-bg-border: #B0B0B0;
}