.help {
    padding-top: 40px;
}

.help-search {
    display: inline-flex;
    align-items: center;
    background: #f7f7f7;
    border: 1px solid #dddddd;
    border-radius: 100px;
    width: 300px;

}

.help-search:hover {
    background-color: #ebebeb;
}

/*.help-search:has(input[type="search"]) {
    box-shadow: inset 0 0 0 2px #222222;
}*/
.help-search__wrapper {
    padding: 0 50px;
    position: relative;

}

.help-search input[type="search"] {
    width: 100%;
    border-radius: 24px;
    padding: 15px 12px 15px 24px;
    border: 0;
    outline: none;
    font-size: 16px;
    color: #222222;
    background-color: transparent;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.help-search input[type="search"]::placeholder {
    font-size: 16px;
    color: #222222;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

/*search-menu*/
.search-menu {
    display: none;
    box-shadow: 0 8px 28px rgba(0, 0, 0, 0.28);
    border: 1px solid rgba(0, 0, 0, 0.04);
    border-radius: 32px;
    padding: 12px 0;
    background: #fff;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 34px;
    padding: 8px 0;
    position: absolute;
    top: 50%;
    left: 0;
    overflow-y: auto;
    width: 100%;
}

.search-show {
    display: inline-flex;
}

.search-menu__article {
    display: flex;
    align-items: center;
    padding: 12px 24px;
    width: 100%;
}

.search-menu__article:hover {
    background-color: var(--bg-hover);
}

.block-image {
    background: #ebebeb;
    border-radius: 8px;
    padding: 10px;
    margin-right: 16px;
}

.block-description p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*.search-menu .search-menu-text{
    padding: 12px 16px;
    font-size: 14px;
    font-weight: 400px;
    display: flex;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 240px;
    overflow-x: hidden;
    text-align: left;
    letter-spacing: 0.5px;
    межбуквенный интервал*/

/*.search-menu a:hover {
    background-color: var(--bg-hover);
}*/
/*help-page-with-details*/
.help-title {
    margin-bottom: 55px;
}

.help-page-with-details {
    margin-bottom: 52px;
}

.tabs-list {
    border-bottom: 1px solid #E5E7EB;
}

.detail-page-border {
    display: block;
    margin-bottom: 35px;
}

.detail-page-log {
    border: 1px solid #dddddd;
    border-radius: 16px;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    color: #222222;
}

.detail-page-title h1 {
    margin-bottom: 8px;
    font-size: 26px;
    line-height: 30px;
    font-weight: 600;
}

.detail-page-title p {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400px;
}

.detail-page-a {
    margin-left: 24px;
    align-self: center;
    width: 400px;
    display: block;
}

.detail-page-a a {
    display: block;
    position: relative;
    pointer-events: none;
    text-align: center;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
}

.help-cards {
    margin-bottom: 32px;
    display: flex;
    align-items: center;
}

.help-cards h2 {
    flex-grow: 1;
    font-size: 26px;
    line-height: 30px;
    font-weight: 600;
    color: #222222;
}

.help-cards a {
    align-items: center;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    color: #222222;
    display: flex;
    justify-content: flex-end;
    white-space: nowrap;
}

.help-card-subtitle {
    color: #222222;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    width: 100%;
}