@import "../css/fonts.css";
@import "../css/normalize.css";
@import "../css/forms.css";
@import "../lib/swiper.css";
@import "../css/modal.css";
@import "../css/help.css";



body {
  font-family: 'Messina Sans', sans-serif;
  margin: 0;
  color: #222222;
  background-color: #ffffff;
  position: relative;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--nav-link-color);
}

img {
  vertical-align: middle;
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 1312px;
  margin: 0 auto;
}


/* header */
.header {
  background-color: var(--body-color);
  min-height: 68px;
  box-sizing: border-box;
  width: 100%;
  z-index: 2;
  padding: 16px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 1px 2px #00000040;
}

.header-nav {
  display: inline-flex;
  width: 66%;
  flex-direction: row;
  justify-content: center;
}

.header-logo span {
  margin-left: 4px;
  font-size: 18px;
  font-weight: 700;
  display: inline-block;
  vertical-align: middle;
}

.header-nav__link {
  font-family: 'Messina Sans', sans-serif;
  font-weight: 400;
  padding: 10px 0;
  border: 0;
  margin: 0 8px;
  background-color: transparent;
  position: relative;
  text-transform: capitalize;
}

.header-nav__link::after,
.link-active::after {
  content: '';
  height: 1.5px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--nav-link-color);
  inset-inline: 0;
  transform: scaleX(0);
  transition: transform 0.2s ease;
}

.header-nav__link:hover {
  opacity: 0.65;
}

/* анимация линии при наведении на неактивную ссылку */
.header-nav__link:hover::after {
  transform: scaleX(1);
  opacity: 0.65;
}

.link-active {
  color: var(--accent-color);
}

/* активная ссылка должна быть непрозрачной */
.link-active:hover {
  opacity: 1;
}

/* активная ссылка должна быть непрозрачной */
.link-active:hover::after {
  opacity: 1;
}

/* анимация линии при наведении на активную ссылку */
.link-active::after {
  background-color: var(--accent-color);
  transform: scaleX(1);
}

.header-buttons {
  display: inline-flex;
  width: 15%;
  justify-content: space-between;
}


/*dropdown*/
.avatar {
  width: 30px;
  height: 30px;
  color: var(--avatar-bg);
}

.avatar img {
  border-radius: 50%;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.dropdown-menu {
  display: none;
  background-color: var(--dropdown-button-bg);
  color: var(--nav-link-color);
  flex-direction: column;
  align-items: flex-start;
  border-radius: 12px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.12);
  margin-top: 34px;
  padding: 8px 0;
  position: absolute;
  top: 50%;
  /*max-height: calc(100vh-100px);*/
  overflow-y: auto;
  min-width: 240px;
  right: 0;
}

.dropdown-show {
  display: inline-flex;
}

.dropdown-menu a {
  padding: 12px 16px;
  font-size: 14px;
  font-weight: 400px;
  display: flex;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 240px;
  overflow-x: hidden;
  text-align: left;
  letter-spacing: 0.5px;
  /*межбуквенный интервал*/

}

.dropdown-menu a:hover {
  background-color: var(--bg-hover);
}

.dropdown-button {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5px 5px 12px;
  margin: 0;
  min-width: 77px;
  min-height: 38px;
  border-radius: 21px;
  background-color: var(--dropdown-button-bg);
  border: 1px solid var(--dropdown-border-color);
  outline: none;
  cursor: pointer;
  position: relative;
}

.dropdown-button:hover,
.dropdown-button:focus {
  box-shadow: var(--dropdown-box-shadow);
}

.dropdown-button .icon svg path {
  stroke: var(--nav-link-color);
}


/* banner */
.banner {
  background-image: url(../images/banner/banner.jpg);
  min-height: 100vh;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 48px 0;
}


.banner-description {
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.banner-title {
  font-size: 60px;
  line-height: 52px;
  margin-bottom: 24px;
}

.banner-title span {
  font-size: 48px;
  line-height: 52px;
  color: #ffffff;
}

.banner-subtitle {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 32px;
  color: #ffffff;
}

/* swiper-slider   */
.swiper-button-prev,
.swiper-button-next {
  --swiper-navigation-size: 14px;
  top: 2%;
  /* один уровень с .btn-airbnb */
  color: var(--nav-link-color);
  background-color: transparent;
  border-radius: 6px;
  border: 1px solid var(--nav-link-color);
  width: 32px;
  height: 32px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 12px;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 94.5%;
}

main {
  padding: 73.4px 0 457.8px;
}




/* КАРТОЧКИ*/

.cards {
  padding: 30px 0;
}

.card-wrapper {
  position: relative;
  width: 313px;
  display: inline-flex;
}

.card {
  margin-bottom: 30px;
}

.card img {
  max-width: 100%;
  height: 313px;
  vertical-align: middle;
  /* убираем зазор снизу */
  object-fit: cover;
  border-radius: 8px;
}

.card-image {
  min-height: 313px;
  border-radius: 8px;
  position: relative;
  margin-bottom: 16px;
}

.card-link {
  display: block;
  height: 100%;
  width: 100%;
  outline: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  z-index: 1;
  /* пользователь может перейти по ссылке на новой вкладке */
}

.card-heart {
  display: inline-block;
  fill: rgba(0, 0, 0, 0.5);
  height: 24px;
  width: 24px;
  stroke: #FFFFFF;
  stroke-width: 2;
  vertical-align: middle;
  position: absolute;
  z-index: 1;
  /* перекрытие кликабельной ссылки на карточке */
  top: 18px;
  right: 18px;
}

.heart-active {
  fill: #FF385C;
}

.card-host {
  padding: 4px 8px;
  border-radius: 6px;
  background-color: #FFFFFF;
  position: absolute;
  top: 18px;
  left: 18px;
  font-size: 14px;
  font-weight: 600;
  color: #222222;

}

.card-text_title,
.card-text_rating {
  font-size: 14px;
  margin-bottom: 8px;
  font-weight: 600;
}

.card-text_title {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  max-width: 230px;
}

.text-secondary {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 8px;
  color: #5E5E5E;
}

.card-text_descr {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-text_price {
  width: 48%;
}

.price-prev {
  text-decoration: line-through;
  font-weight: 600;

}

.price-current {
  font-weight: 600;
  color: #222222;
  position: relative;
}

.price-current::after {
  content: '';
  display: inline-flex;
  width: 2px;
  height: 2px;
  background-color: #5e5e5e;
  border-radius: 50%;
  margin-left: 4px;
  vertical-align: middle;
}

.star {
  display: inline-block;
}

h3 {
  font-size: 16px;
  color: #222222;
  line-height: 19px;
}

.date {
  color: #717171;
  font-size: 12px;
  line-height: 14px;
}

.night {
  color: #222222;
  font-size: 14px;
  line-height: 17px;
}

/* атомарные классы */
.heart-active {
  fill: #FF385C;
}

/*footer*/
.footer {
  padding: 22px 0;
  background-color: var(--footer-bg);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.footer-top {
  border-bottom: 1px solid #E5E7EB;
  margin-bottom: 26px;
}

.footer-top_nav {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
}

.footer_bottom_left {
  display: flex;
  justify-content: space-around;
  width: 328px;
}

.footer_bottom_right {
  display: flex;
  justify-content: space-around;
  width: 328px;
  align-items: center;
}

.footer-bottom {
  margin-bottom: 26px;
}

.footer-top_nav h3 {
  font-family: 'Messina Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: var(--footer-link-color);
  margin-bottom: 16px;
}

.footer-top_nav a {
  font-family: 'Messina Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--footer-link-color);
  margin-bottom: 16px;
}

.footer_bottom_left span {
  font-family: 'Messina Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--footer-link-color);
}

.lang_dol {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 24px;
}

/* skeleton */
.skeleton {
  position: relative;
}

.skeleton::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background: linear-gradient(90deg, #eee, #f9f9f9, #eee);
  background-size: 200%;
  animation: skeleton 1s infinite reverse;
}

@keyframes skeleton {
  0% {
    background-position: -100% 0;
  }

  100% {
    background-position: 100% 0;
  }
}




/* атомарные классы (утилиты) */
.mt-16 {
  margin-top: 16px;
}

.ml-31 {
  margin-left: -31px;
}

.ml-15 {
  margin-left: 15.5px;
}

.inline {
  display: inline-block;
  vertical-align: middle;
}

.ml-8 {
  margin-left: 8px;
}

.ml-0 {
  margin-left: 0px
}

.br-12 {
  outline: 1px solid #000;
}

.bg-color {
  color: #717171;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-start {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.flex2 {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}