.tabs {
    margin-bottom: 24px;
}

.tabs-list {
    margin-bottom: 55px;
    background-color: #ebebeb;
    border-radius: 8px;
    padding: 4px;
    display: inline-flex;
}

.tabs-btn {
    color: #222;
    min-width: 151px;
    cursor: pointer;
    background-color: #0000;
    border: 2px solid #0000;
    border-radius: 8px;
    outline: none;
    padding: 6.5px 40px;
    font-size: 14px;
    font-weight: 500;
}

.tabs-btn__active {
    background: #fff;
    border: 2px solid #222;
    box-shadow: 0 6px 17px #00000014;
}

.tabs-content {
    display: none;
}

.tabs-content__active {
    display: flex;
}

.card-text__description {
    color: #222222;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    width: 100%;
}